// In development If you change the server port, make sure to update the proxy port in `client/vite.config.ts`
PORT = 3000
ENVIRONMENT = 'development'

DB_HOST=localhost
DB_PORT=3306
DB_NAME=login-edge
DB_USER=admin
DB_PASSWORD=admin

SESSION_SECRET= ''